BR2_arm=y
BR2_arm1176jzf_s=y
BR2_ARM_EABIHF=y

#
# Kernel Header Options
#
BR2_KERNEL_HEADERS_VERSION=y
BR2_DEFAULT_KERNEL_VERSION="3.6.11"
BR2_DEFAULT_KERNEL_HEADERS="3.6.11"

#
# GCC Options
#
BR2_EXTRA_GCC_CONFIG_OPTIONS="--with-float=hard"
# BR2_SOFT_FLOAT is not set
BR2_TARGET_OPTIMIZATION="-pipe -mhard-float"
BR2_GCC_TARGET_FLOAT_ABI="hard"

#
# Toolchain Options
#
BR2_TOOLCHAIN_BUILDROOT_CXX=y
BR2_TOOLCHAIN_BUILDROOT_LARGEFILE=y
BR2_TOOLCHAIN_BUILDROOT_EGLIBC=y
BR2_TOOLCHAIN_BUILDROOT_LIBC="eglibc"

#
# Binutils Options
#
BR2_BINUTILS_VERSION_2_22=y
BR2_BINUTILS_VERSION="2.22"

#
# System configuration
#
BR2_ROOTFS_DEVICE_CREATION_DYNAMIC_DEVTMPFS=y
BR2_ROOTFS_OVERLAY="board/raspberrypi/overlay"
BR2_ROOTFS_POST_BUILD_SCRIPT="board/raspberrypi/postscript.sh"
BR2_TARGET_GENERIC_GETTY_PORT="ttyAMA0"
BR2_TARGET_GENERIC_HOSTNAME="cars"
BR2_TARGET_GENERIC_ISSUE=""

#
# Package Selection for the target
#
BR2_PACKAGE_RPI_USERLAND=y

#
# Filesystem images
#
BR2_TARGET_ROOTFS_TAR=y
BR2_TARGET_ROOTFS_TAR_NONE=y

#
# Bootloaders
#
BR2_TARGET_RPI=y

#
# Kernel
#
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_VERSION=y
BR2_LINUX_KERNEL_CUSTOM_VERSION_VALUE="3.6.11"
BR2_LINUX_KERNEL_VERSION="3.6.11"
BR2_LINUX_KERNEL_PATCH="http://dl.guillermoamaral.com/rpi/kernel-3.6.11.patch"
BR2_LINUX_KERNEL_USE_DEFCONFIG=y
BR2_LINUX_KERNEL_DEFCONFIG="bcmrpi"
BR2_LINUX_KERNEL_ZIMAGE=y

#
# Freescale i.MX libraries
#
BR2_PACKAGE_DBUS=y
BR2_DBUS_EXPAT=y
BR2_PACKAGE_W_SCAN=y

#
# Compression and decompression
#
BR2_PACKAGE_ZLIB=y

#
# Crypto
#
BR2_PACKAGE_OPENSSL=y

#
# Hardware handling
#
BR2_PACKAGE_LIBUSB=y

#
# Networking
#
BR2_PACKAGE_LIBNL=y

#
# Other
#
BR2_PACKAGE_LIBFFI=y
BR2_PACKAGE_LIBGLIB2=y

#
# JSON/XML
#
BR2_PACKAGE_EXPAT=y

#
# Networking applications
#
BR2_PACKAGE_BLUEZ_UTILS=y
BR2_PACKAGE_BLUEZ_UTILS_COMPAT=y
BR2_PACKAGE_BLUEZ_UTILS_USB=y
BR2_PACKAGE_IW=y
BR2_PACKAGE_OPENSSH=y
BR2_PACKAGE_WIRELESS_REGDB=y
BR2_PACKAGE_WIRELESS_TOOLS=y
BR2_PACKAGE_WIRELESS_TOOLS_LIB=y
BR2_PACKAGE_WPA_SUPPLICANT=y
BR2_PACKAGE_WPA_SUPPLICANT_EAP=y
BR2_PACKAGE_WPA_SUPPLICANT_CLI=y
BR2_PACKAGE_WPA_SUPPLICANT_PASSPHRASE=y
BR2_PACKAGE_WPA_SUPPLICANT_AP_SUPPORT=y
BR2_PACKAGE_WPA_SUPPLICANT_WPS=y
